{:paths   ["src" "resources"]
 :deps    {org.webjars.npm/bulma       {}
           com.novemberain/validateur  {}
           com.andrewmcveigh/cljs-time {}
           instaparse/instaparse       {}
           me.raynes/fs                {:mvn/version "1.4.6"}
           tape/mvc                    {:local/root "../mvc"}
           tape/router                 {:local/root "../router"}
           tape/tools                  {:local/root "../tools"}
           tape/toasts                 {:local/root "../toasts"}}
 :aliases {:test {:extra-paths ["dev/src" "target"]
                  :extra-deps  {tape/dev {:local/root "../dev"}}}}}
